GIT_COMMIT
GIT_URL
ARTIFACTORY_USR
ARTIFACTORY_PSW
ARTIFACTORY_URL
VERA_BUILD_ID
IMAGE_PATH
SONAR_BRANCH_NAME
SONAR_PROJECT_VERSION
SONAR_PROJECT_KEY
SONAR_LANGUAGE
BRANCH_NAME
JENKINS_HOME
JIRA_ISSUE_ID
BD_PROJECT_NAME
BD_VERSION_NAME