VERACODE_USR
VERACODE_PSW
PROXY_HOST
PROXY_USR
PROXY_PORT
PROXY_PSW
BUILD_URL
VERACODE_MODULE_VERSION
BRANCH_NAME
BUILD_NUMBER
APP_ID
SANDBOX_NAME
VERACODE_INPUT_NAME
VERACODE_FILE_PATH
VERA_BUILD_ID
VERACODE_SCAN_TIMEOUT