BLACKDUCK_CREDS
PROXY_HOST
PROXY_USER
PROXY_PORT
PROXY_PSW
BLACKDUCK_SEARCH_DEPTH
IMAGE_TAG
BLACKDUCK_DOCKER_EXECUTION_PATH
BD_PROJECT_NAME
BD_VERSION_NAME
// BLACKDUCK_PROJECT_NAME
// BLACKDUCK_VERSION_NAME